<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.0"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>StewardServlet</servlet-name>
        <servlet-class>com.lowcostairline.servlet.StewardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StewardServlet</servlet-name>
        <url-pattern>/stewards</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PilotServlet</servlet-name>
        <servlet-class>com.lowcostairline.servlet.PilotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PilotServlet</servlet-name>
        <url-pattern>/pilots</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftServlet</servlet-name>
        <servlet-class>com.lowcostairline.servlet.AircraftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftServlet</servlet-name>
        <url-pattern>/aircrafts</url-pattern>
    </servlet-mapping>
</web-app>